body {
    font-family: Arial, sans-serif;
    background-color: #CAE7F5;
    margin: 0;
    padding: 0;
}

header {
    color: #4399CD;
    padding: 1em;
}
#logo{
    position: fixed;
    top: 0px;
    left: 15px;
    height: 150px;
    z-index: 500;
}
nav {
    position: relative;
    width: 100%;
    float: right;
}

nav ul {
    display: flex;
    justify-content: right;
    align-items: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 50px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: inline-block;
    line-height: 60px;
    text-decoration: none;
    background-color: #CAE7F5;
    color: #4399CD;
    font-weight: bold;
    font-size: 30px;
    padding: 0 20px;
    box-sizing: border-box;
}

nav ul li a:hover {
    background-color: darkgrey; 
     
 }

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}