body {
    font-family: Arial, sans-serif;
    background-color: #CAE7F5;
    margin: 0;
    padding: 0;
}


header {
    color: #4399CD;
    padding: 0;
}

#logo{
    position: absolute;
    top: 0px;
    left: 20px;
    height: 80px;
    z-index: 500;
}
nav {
    position: relative;
    width: 100%;
    float: right;
    z-index: 500;
    
}

nav ul {
    display: flex;
    justify-content: right;
    align-items: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 50px;
    z-index: 500;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: inline-block;
    line-height: 60px;
    text-decoration: none;
  /*  background-color: #CAE7F5; */
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 0 20px;
    box-sizing: border-box;
}

nav ul li a:hover {
    background-color: darkgrey; 
     
}

* {
    box-sizing: border-box;
}

.container {
    background-image: url(top-view-old-french-newspaper-pieces.jpg); 
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0 ;
    max-width: 100%;
    height: 100vh;
}

.container img {
    height: 100%;
    object-fit: cover;
    width: 100%;
 
}

.container .content {
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.7); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    color: white;
    white-space: normal;
    padding-top: 300px;
    font-size: 70px;
}

.description{
    text-align: center;
    white-space: normal;
    font-size: 20px;
    padding-left: 250px;
    padding-right: 250px;
}

.maincontainer {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    display: flex; /* Use flexbox to align the images */
    justify-content: center; /* Center the images horizontally */
   /* flex-wrap: wrap; /* Allow the images to wrap to the next line */
}

div.image-container img {
    height: 220px;
    width: 310px;
    vertical-align: top;
    margin-right: 10px;
    margin-left: 10px;
}

div.image-container img:hover{
    transform: scale(1.1);
}

.containerheading {
    display: block;
    text-align: center;
    color: #003366;
    font-size: 30px;
    font-family: 'Playfair Display', 'italic';
    white-space: normal;
    margin: 20px;
}

.container2{
    float: left;
    width: 400px; 
    vertical-align: top;
    padding: 0;
    margin: 0;
    display: flex; /* Use flexbox to align the images */
    justify-content: center; /* Center the images horizontally */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}