.img_Political{
    float: right;
    width: 35%;
    padding: 40px;
    padding-right: 0px; 
}

.img_Political_2{
    float: left;
    width: 35%;
    padding: 40px;
    padding-left: 0px;
} 

.new_text{
    font-size: 20px;
    color: #2d3142;
}

.new_text1{
    font-size: 20px;
    padding-bottom: 80px;
    color: #2d3142
}

.Joes_Container_one{
    position: relative;
    width: 70%;
    left: 15%;
    padding-top: 50px;
} 

.minor_Heading{
    color: #4a9cce;
    font-size: 35px;
    margin-bottom: 0px;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
} 