.img_Political{
    padding: 20px;
    float: right;
    width: 35%;
}

.Joshes_Container{
    position: relative;
    width: 70%;
    left: 15%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.minor_Heading{
    color: #4399CD;
    font-size: 35px;
}

.Joshes_Container_2{
    display: flex;
    position: relative;
    padding-top: 100px;
    width: 50%;
}

.box-1{
    background-color: skyblue;
    height: 300px;
    width: 600px;
    margin: 20px;
}

.box-2{
    background-color: skyblue;
    height: 300px;
    width: 600px;
    margin: 20px;
}