.img_Political{
    float: right;
    width: 35%;
}

.Joshes_Container{
    position: relative;
    width: 70%;
    left: 15%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.minor_Heading{
    color: #4399CD;
    font-size: 35px;
}

.Joshes_Container_2{
    display: flex;
    position: relative;
    padding-top: 50px;
}

.box-1{
    background-color: skyblue;
    height: 200px;
    width: 200px;
}

.box-2{
    background-color: skyblue;
    height: 200px;
    width: 200px;
}