.img_Political{
    float: right;
    width: 35%;
}

.Joshes_Container{
    position: absolute;
    width: 70%;
    left: 15%;
    padding-top: 50px;
}

.minor_Heading{
    color: #4399CD;
    font-size: 35px;
}