body {
    font-family: Arial, sans-serif;
    background-color: #CAE7F5;
    margin: 0;
    padding: 0;
}


h2 {
    position: relative;
    text-align: center;
    color: #4399CD;
    font-size: 50px;
    margin: 0;
    
}

#logo{
    position: relative;
    top: 0px;
    left: 20px;
    height: 80px;
    z-index: 500;
}
nav {
    top: 0px;
    position: absolute;
    width: 100%;
    float: right;
    
}

nav ul {
    display: flex;
    justify-content: right;
    align-items: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 50px;
    z-index: 500;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: inline-block;
    line-height: 60px;
    text-decoration: none;
  /*  background-color: #CAE7F5; */
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 0 20px;
    box-sizing: border-box;
}

nav ul li a:hover {
    background-color: darkgrey; 
     
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}



/* this code is totally ass bro, this needs improvment */